/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: #E9EBEE
}

/*shared */
#errorMsg{
  color: red
}
.c{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}